<!--
 - Created by mateusz.wolak on 13.10.2019.
 -->

<!-- FileUploadComponent -->
<template>

    <template if:false={materialRecord}>

        <lightning-card title='File Upload' icon-name="custom:custom19">
            <lightning-file-upload
                    label=""
                    name="fileUploader"
                    record-id={recordId}
                    onuploadfinished={handleUploadFinished}
                    multiple>
            </lightning-file-upload>
        </lightning-card>
    </template>

    <template if:true={openModal}>
        <div class="demo-only" style="height: 640px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close" size="medium">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                            {lightningCardMaterialInfo} {materialRecord.Name}
                        </h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">

                        <!--                            title={lightningCardMaterialInfo}    icon-name="standard:document"-->
                        <lightning-card >
                            <div style="margin-left: 6%" if:true={error}>
                                <lightning-badge label={error} style="color: red;"></lightning-badge>
                            </div>

                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-2 slds-var-p-around_x-small">
                                    <lightning-input label={materialFields.Name.label} name="materialName" type="text" value={materialRecord.Name} onchange={handleNameChange}></lightning-input>
                                </div>
                                <div class="slds-col slds-size_1-of-2 slds-var-p-around_x-small">
                                    <c-lwc-lookup label={materialFields.AuthorId__c.label} objectname="User" fieldname="Name" numrecords="10" iconname="standard:user" select-record-id={materialRecord.AuthorId} select-record-name={materialRecord.AuthorName} onselected={handleAuthorChange}> </c-lwc-lookup>
                                </div>
                                <div class="slds-col slds-size_1-of-2 slds-var-p-around_x-small">
                                    <lightning-input label={materialFields.Description__c.label} name="materialDescription" type="text" value={materialRecord.Description} onchange={handleDescriptionChange}></lightning-input>
                                </div>
                                <div class="slds-col slds-size_1-of-2 slds-var-p-around_x-small" style="padding-top: 2rem;">
                                    <lightning-input label={materialFields.GenerateExternalUrl__c.label} name="publicLink" type="checkbox" value={materialRecord.PublicLink} onchange={handlePublicLinkChange}></lightning-input>&nbsp;
                                </div>

                                <div class="slds-col slds-size_1-of-2 slds-var-p-around_x-small">
                                    <template if:true={ApplicationPicklistValues.data}>
                                        <lightning-dual-listbox name="materialApplication"
                                                                label={materialFields.Application__c.label}
                                                                source-label="Available"
                                                                selected-label="Selected"
                                                                options={ApplicationPicklistValues.data.values}
                                                                onchange={handleApplicationChange}></lightning-dual-listbox>
                                    </template>
                                </div>
                                <div class="slds-col slds-size_1-of-2 slds-var-p-around_x-small">
                                    <template if:true={CategoryPicklistValues.data}>
                                        <lightning-dual-listbox name={materialFields.Category__c.label}
                                                                label="Choose Material Category"
                                                                source-label="Available"
                                                                selected-label="Selected"
                                                                options={CategoryPicklistValues.data.values}
                                                                onchange={handleCategoryChange}></lightning-dual-listbox>
                                    </template>
                                </div>
                                <div class="slds-col slds-size_2-of-2 slds-var-p-around_x-small" style="padding-top: 2rem;">
                                    <c-lwc-multi-lookup label-val={keyMessageLabel} placeholder-label={label.searchKeyMessages} object-name="WavySales_KeyMessage__c" field-name="Name__c"
                                                        icon-name="standard:knowledge" onselected={handleKeyMessageChange} additional-where-conditions="Usage__c INCLUDES ('SE_MATERIAL')" >
                                    </c-lwc-multi-lookup>
                                </div>

                            </div>
                        </lightning-card>

                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label={label.cancel} variant="neutral" onclick={handleCancel}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <lightning-button label={modalSaveButtonLabel} variant="brand" onclick={handleSave}></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
</template>