<!--
 - Created by mateuszwolak on 2019-11-02.
 -->

<!-- Lwc Lookup -->
<template>
    <div style={lookupstyle}>
        <div class="slds-form-element">

            <div class="slds-form-element__control">
                <div class="slds-combobox_container">

                    <div class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox"
                         role="combobox">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon slds-input-has-icon_left-right"
                             role="none">
                            <lightning-input read-only={inputReadOnly} data-id="userinput" label={label}
                                             name="customLookup" onchange={searchField} value={selectRecordName} class="leftspace">
                            </lightning-input>

                            <div if:true={iconFlag}>
                                <span
                                        class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right iconheight">
                                    <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default"
                                                    icon-name="utility:search" size="x-small" alternative-text="icon">
                                    </lightning-icon>
                                </span>
                            </div>
                            <div if:true={clearIconFlag}>
                                <button
                                        class="slds-input__icon slds-input__icon_right slds-button slds-button_icon iconheight"
                                        onclick={resetData}>
                                    <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default"
                                                    icon-name="utility:clear" size="x-small" alternative-text="icon">
                                    </lightning-icon>
                                    <span class="slds-assistive-text">Clear</span>
                                </button>
                            </div>
                        </div>

                        <!-- Second part display result -->
                        <div id="listbox-id-1"
                             class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                <template for:each={searchRecords} for:item="serecord">
                                    <li role="presentation" class="slds-listbox__item" key={serecord.Id}>

                                        <div data-id={serecord.Id} data-name={serecord.val} onclick={setSelectedRecord}
                                             class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                             role="option">
                                            <span class="slds-media__body">
                                                <span
                                                        class="slds-listbox__option-text slds-listbox__option-text_entity">
                                                    <lightning-icon
                                                            class="slds-icon slds-icon slds-icon_small slds-icon-text-default"
                                                            icon-name={iconname} size="x-small" alternative-text="icon">
                                                    </lightning-icon>
                                                    &nbsp; &nbsp;{serecord.val}</span>
                                                <span
                                                        class="slds-listbox__option-meta slds-listbox__option-meta_entity">{objectname}
                                                    • {serecord.val}</span>
                                            </span>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                        <div if:true={noResultFound}>
                            No result found.
                        </div>
                        <div if:true={LoadingText}>
                            <div class="demo-only demo-only demo-only_viewport" style="height:6rem;">
                                <div role="status" class="slds-spinner slds-spinner_x-small slds-spinner_brand">
                                    <span class="slds-assistive-text">Loading</span>
                                    <div class="slds-spinner__dot-a"></div>
                                    <div class="slds-spinner__dot-b"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>