<!--
 - Created by mateusz.wolak on 01.12.2019.
 -->

<!-- Lwc Multi Lookup -->
<template>
<!--    <lightning-card>-->
        <div>
            <div class="slds-form-element">

                <div class="slds-form-element__control">
                    <div class="slds-combobox_container">

                        <div class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                            <div if:false={hideEditMode} class="slds-form-element__control slds-input-has-icon slds-input-has-icon slds-input-has-icon_left-right" role="none">

                                <div>
                                    <span class="slds-icon_container slds-icon-utility-search slds-input__icon iconheight slds-var-p-top_x-small slds-var-p-left_xx-small">
                                        <lightning-icon class="slds-icon slds-icon_small slds-icon-text-default" icon-name={iconName} size="small" alternative-text="icon" ></lightning-icon>
                                    </span>
                                </div>
                                <lightning-input required={required} data-id="userinput" label={labelVal} name="searchText" value={searchText} onchange={searchField} onfocus={searchField} placeholder={placeholderLabel} class="leftspace"></lightning-input>

                                <div class="slds-input__icon-group slds-input__icon-group_right">
                                    <template if:true={newLabelFlag}>
                                        <span style="pointer-events: auto;" onclick={onAddClick}>
                                            <lightning-icon class="slds-icon slds-icon_small slds-icon-text-default slds-var-p-top_x-small" icon-name="utility:add" size="x-small" alternative-text="icon" ></lightning-icon>
                                        </span>
                                    </template>
                                    <!--                                    slds-input__icon-->
                                    <span class="slds-icon_container slds-icon-utility-search  slds-input__icon_right iconheight">
                                        <template if:false={showCloseIcon}>
                                            <lightning-icon class="slds-icon slds-icon_small slds-icon-text-default slds-var-p-top_x-small" icon-name="utility:search" size="x-small" alternative-text="icon" ></lightning-icon>
                                        </template>
                                        <template if:true={showCloseIcon}>
                                            <span style="pointer-events: auto;" onclick={onCloseClick}>
                                                <lightning-icon class="slds-icon slds-icon_small slds-icon-text-default slds-var-p-top_x-small" icon-name="utility:close" size="x-small" alternative-text="icon" ></lightning-icon>
                                            </span>
                                        </template>
                                    </span>
                                </div>
                            </div>
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right" role="none">
                                <template for:each={selectedRecords} for:item="serecord">
                                    <span key={serecord.recId}>
                                        <lightning-pill label={serecord.recName} name={serecord.recNameWithId} onremove={removeRecord}>
                                            <lightning-icon icon-name={iconName} variant="circle" alternative-text={serecord.recName}></lightning-icon>
                                        </lightning-pill>
                                    </span>
                                </template>
                            </div>

                            <!-- Second part display result -->
                            <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                                <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                    <template for:each={searchRecords} for:item="serecord">
                                        <li role="presentation" class="slds-listbox__item" key={serecord.recId}>

                                            <div data-id={serecord.recId} data-name={serecord.recName} onclick={setSelectedRecord} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                                <span class="slds-media__figure">
                                                    <span class="slds-icon_container slds-icon-standard-account">
                                                        <lightning-icon icon-name={iconName} class="slds-icon slds-icon slds-icon_small slds-icon-text-default" size="x-small"></lightning-icon>
                                                    </span>
                                                </span>
                                                <span class="slds-media__body">
                                                    <span class="slds-listbox__option-text slds-listbox__option-text_entity">{serecord.recName}</span>
                                                    <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">{objectName} • {serecord.recName}</span>
                                                </span>
                                            </div>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                            <div if:true={noResultsFoundFlag}>
                                {label.noResultsFound}.
                            </div>
                            <div if:true={LoadingText}>
                                {label.loading}...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--    </lightning-card>-->
</template>