.THIS {
    margin-top: 30px;
    
    background-color: #fff;
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .10);
}

.THIS .person__avatar {
    display: inline-block;
    width: 145px;
    vertical-align: top;
    
    position: relative;
    top: -20px;
    
    margin: 0 15px 0 20px;
    
    border: solid 4px #fff;
    border-radius: 50%;
}

.THIS .person__details {
	display: inline-block;
    vertical-align: top;
    
    padding-top: 25px;
}

.THIS .person__name {    
    font-size: 1.6rem;
    font-weight: bold;
}

.THIS .person__job {
    font-size: 1.2rem;
}

.THIS .person__country {
    font-size: 0.9rem;
}

.THIS .logo {
    display: inline-block;
    width: 33%;
    
    float: right;
    
    margin: 30px 25px;
}
.THIS .next__button {
    display: inline-block;
    
    
    float: right;
    
    margin: 55px 25px;
}