.THIS {
    padding: 0 10px;
}

.THIS .imgContainer {
	display: inline-block;
    max-width: 100px;
    vertical-align: top;
    
    margin: 12px;
    
    text-align: center;
}

.THIS .imgContainer img {
    width: 64px;
    
    margin-bottom: 6px;
}

.THIS .cont  {
	text-align: center;
}