<!--
 - Created by mateusz.wolak on 09.12.2019.
 -->

<!-- Related Material Key Messages -->
<template>
    <lightning-card title="Key Messages">

    <!--    slds-clearfix-->

<!--        slds-m-around_medium slds-float_right-->
        <div style="float: right;">
            <span style="pointer-events: auto;" onclick={onEditClick}>
                <lightning-icon class="slds-icon slds-icon_small slds-icon-text-default slds-var-p-top_x-small" icon-name="utility:edit" size="x-small" alternative-text="icon" ></lightning-icon>
            </span>
        </div>
        <div style="padding-top: 15px;">
            <c-lwc-multi-lookup record-id={recordId}  placeholder-label="Search key messages..." object-name="WavySales_KeyMessage__c" field-name="Name__c" hide-edit-mode={hideEditMode}
                                icon-name="standard:knowledge" display-as-related search-related-object-name="WavySales_KeyMessageRelation__c" search-related-field-name="KeyMessageId__r.Name__c" search-related-where-name="MaterialId__c" >
            </c-lwc-multi-lookup>
        </div>
    </lightning-card>
</template>