.THIS .texts {
    padding: 10px .75rem 20px;
}

.THIS .tableWrap {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    
    padding: 0 .75rem;
}

.THIS p {
    margin-bottom: 10px;
}