.THIS {
    text-align: center;
}

.THIS .slds-button-group {
    margin: 15px 0;
}

.THIS .slds-button {
    display: block;
}

.THIS .button__icon {
    display: block;
    
    margin: 10px 0 0;
}

.THIS .button__label {
    display: block;
}