<template>
    <lightning-card title="Materials" icon-name="custom:custom63">
        <div class="slds-m-around_medium">
            <lightning-input type="search" onchange={phraseChange} class="slds-m-bottom_small" label="Search" value={phrase}></lightning-input>

            <template if:true={list}>
                <c-materials-tile-icon
                    for:each={list}
                    for:item="material"
                    key={material.Id}
                    label={material.Name__c}
                    href={material.link}
                    file-mime-type={material.FileMimeType__c}
                    file-size={material.FileSize__c}
                    file-extension={material.FileExtension__c}
                    application={material.Application__c}
                    category={material.Category__c}
                    description={material.Description__c}>
                </c-materials-tile-icon>
            </template>

            <template if:true={error}>
                <p>{error.body.message}</p>
            </template>
        </div>
    </lightning-card>
</template>